<header class="page-header">
	<div class="container">
		<div class="page-header__content">
			<div class="btn btn--small nav__link nav__link--brand">
				<a href="/">🏠 HarshaVardhan</a>
			</div>
			<nav class="nav-list">
				<ul role="list">
					<li class="btn btn--small nav__link nav__link--home">
						<a href="/" title="home">🏠</a>
					</li>
					<li class="btn btn--small nav__link">
						<a href="/blog/">Blog</a>
					</li>
					<li id="theme-toggle" onclick="switchTheme()" class="btn btn--small nav__link">🌙</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
