{% from "_macros/_icons.njk" import twitter,
linkedin,
github,
instagram %}

{% from "_macros/_contacts.njk" import contacts %}

<section class="intro">
	<h1>Hi, fellow developer 👋 I'm <span class="text__highlight">HarshaVardhan</span></h1>

	<p class="text__normal text__secondary">
	Welcome to my blog. This is where I share my knowledge💡, showcase my projects🛠️, talk about my learnings📙, and more. I am a web developer🕷️, programming enthusiast💻🖱️. I mostly work with the <span class="text__highlight text__highlight--mono">JavaScript</span> ecosystem. Currently learning👨‍💻 <span class="text__highlight text__highlight--mono">Kotlin</span>, and
		<span class="text__highlight text__highlight--mono">Go</span>.
	</p>
	{{contacts({width: '24px', height: '24px'})}}
</section>
