/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1.5em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;

  &--narrow {
    max-width: 65rem;
  }

  &--small {
    max-width: 45rem;
  }
}

.text__normal {
  font-size: var(--fs-400);
}

.text__small {
  font-size: var(--fs-300);
}

.text__center {
  text-align: center;
}

.text__highlight {
  color: var(--clr-accent-300);
}

.text__highlight--mono {
  font-family: monospace;
}

.text__primary {
  color: var(--clr-neutral-500);
}

.text__secondary {
  color: var(--clr-neutral-400);
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--small {
  padding: 0.25em 0.5em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-500);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-500);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
}
