<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Welcome to my blog. This is where I share my knowledge💡, showcase my projects🛠️, talk about my learnings📙, and more. I am a web developer🕷️, programming enthusiast💻🖱️.">
		<meta name="keywords" content="HarshaVardhan, Ganesh__, Blog, 11ty">
		<meta name="author" content="HarshaVardhanNakkina">

		<meta property="og:url" content="https://ngsharsha.netlify.app/"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="https://ngsharsha.netlify.app/assets/ngsharsha.png"/>
		<meta property="og:title" content="Hi, fellow developer 👋 I'm HarshaVardhan"/>
		<meta property="og:description" content="Welcome to my blog. This is where I share my knowledge💡, showcase my projects🛠️, talk about my learnings📙, and more. I am a web developer🕷️, programming enthusiast💻🖱️."/>

		<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | url }}" type="image/x-icon">
		<link rel="icon" href="{{ '/assets/favicon.ico' | url }}" type="image/x-icon">
		<title>{{ title }}</title>
		{# <script src="{{ '/js/theme-switch.js' | url }}"></script> #}
		<script>
			var prefersDarkMode = window
				.matchMedia('(prefers-color-scheme: dark)')
				.matches;
			var theme = localStorage.getItem('theme');
			var temp;
			if (theme) 
				temp = theme;
			else if (prefersDarkMode) 
				temp = 'dark';
			else 
				temp = 'light';
			storeAndSwitch(temp);

			function switchTheme() {
				var theme = document
					.documentElement
					.getAttribute('data-theme');
				var temp = theme && theme === 'dark'
					? 'light'
					: 'dark';
				storeAndSwitch(temp);
				switchThemeToggleIcon(temp)
			}
			function storeAndSwitch(theme) {
				localStorage.setItem('theme', theme);
				document
					.documentElement
					.setAttribute('data-theme', theme);
			}
		</script>
		<link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
	</head>
	<body>
		{% include '_header.njk' %}
		<main class="container container--narrow flow">
			{{ content | safe }}
		</main>
		{% include '_footer.njk' %}
		<script>
			function switchThemeToggleIcon(theme) {
				const themeToggle = document.getElementById('theme-toggle');
				if (theme === 'dark') {
					themeToggle.innerText = '🌞';
				} else {
					themeToggle.innerText = '🌙';
				}
			}
			theme = document
				.documentElement
				.getAttribute('data-theme');
			switchThemeToggleIcon(theme);
		</script>
	</body>
</html>
