---
title: 'Blog - HarshaVardhan'
layout: 'base.njk'
---
{# <ul role="list" class="articles__list flow">
	{% for post in collections.posts | reverse %}
		<li>
			<a href="{{post.url}}">{{post.data.title}}</a>
		</li>
	{% endfor %}
</ul> #}
<p style="display:flex; justify-content: center;">
	<img src="https://media.tenor.com/images/be1fea454e4e4fcce8ed8be13a3d0a52/tenor.gif" alt="Work In Progress">
</p>
