---
title: 'Blog - HarshaVardhan'
layout: 'base.njk'
---
<section class="container container--small articles__listing">
	<ul role="list" class="flow">
		{% for post in collections.posts | reverse %}
			<li class="article__snippet">
				<a class="article__link" href="{{post.url}}">{{post.data.title}}</a>
				<p class="article__date">
					{{ post.data.date | humanDate }}
				</p>
				<p class="tags">
					{% for tag in post.data.tags %}
						{% if tag != 'posts'%}
							<span class="tag__name text__secondary text__small">{{tag}}</span>
						{% endif %}
					{% endfor %}
				</p>
			</li>
		{% endfor %}
	</ul>
</section>
